{
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "pluginSearchDirs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.js"
    },
    { "files": "*.css" }
  ]
}
